:root {
    --navBackColor: rgb(65, 65, 65);
    --backgroundColor: rgb(255, 255, 255);
    --defaultTextColor: rgb(255, 255, 255);
}
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    color: var(--defaultTextColor);
    background-color: #4455a9;
    background-image: linear-gradient(135deg, #5365c1 0%, #3f82ff 46%, #5beaff 100%);
}
nav {
    background-color: var(--navBackColor);
    font-size: 20px;
    font-weight: 400;
}

#carouselExampleCaptions {
    background-color: var(--navBackColor);
    overflow: none;
    border-radius: 30px;
} 
#carouselExampleCaptions span {
    width: 50%;
    height: 50%;
}
.carousel-item img {
    margin: auto;
    max-width: 450px;
    max-height: 450px;
    padding: 10px;
}
.carousel-item .info {
    opacity: 0;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    color: var(--defaultTextColor);
    transition: all 0.5s ease-in-out;
}
.carousel-item:hover .info {
    opacity: 1;
}
.card {
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card .info {
    display: flex;
    opacity: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 0%;
    width: 100%;
    font-size: medium;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: var(--defaultTextColor);
    pointer-events: none;
    transition: all .3s ease-in-out;
}
.card .info a {
    width: 40%;
}
.card:hover .info {
    opacity: 1;
    height: 30%;
}
.card:active {
    transform: scale(0.9);
}

@media screen and (max-width: 700px) {
    .carousel-item img {
        max-width: 310px;
        max-height: 310px;
    }
    .card {
        height: 35vh;
    }
    .card:hover .info {
        display: none;
    }
}