:root {
    --navBackColor: rgb(230, 230, 230);
    --backgroundColor: rgb(255, 255, 255);
}
body {
    scroll-behavior: smooth;
    background-color: var(--backgroundColor);
}
nav {
    background-color: var(--navBackColor);
    font-size: 20px;
    font-weight: 400;
}
#carouselExampleCaptions {
    background-color: var(--navBackColor);
    overflow: none;
    border-radius: 30px;
}

.carousel-item img {
    margin: auto;
    max-width: 512px;
    max-height: 512px;
    padding: 10px;
}
.carousel-item .info {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    color: white;
    transition: all 0.5s ease-in-out;
}
.carousel-item:hover .info {
    opacity: 1;
}
.card {
    margin-top: 20px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.card .info {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 0%;
    width: 100%;
    font-size: medium;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: white;
    pointer-events: none;
}
.card .info a {
    width: 40%;
}
.card:hover .info {
    display: flex;
    height: 30%;
}
.card:active {
    transform: scale(0.9);
}

@media screen and (max-width: 700px) {
    .carousel-item img {
        max-width: 310px;
        max-height: 310px;
    }
    .card:hover .info {
        display: none;
    }
  }